.fotografi {
    background-color: var(--dark);
    max-width: 1800px;
    padding: 0 50px;
    color: white;
}

.text-container {
    padding: 0 140px 40px 140px;
}

.white-heading {
    padding-top: 8px;
    font-size: 32px;
}

.white-text {
    font-size: 20px;
    margin-bottom: 18px;
}

.fotografi-images {
    display: flex;
}

.fotografi-images-img {
    width: 25%;
}